<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Ayuda
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                            <li class="breadcrumb-item"><a>Ayuda</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Desargar de manuales</h5>
                                <div class="btn-group btn-group-lg">
                                    <a class="btn btn-primary" href="assets/manuales/Manual de usuarios.docx">Manual de usuarios</a>
                                    <a class="btn btn-primary" href="assets/manuales/Manual de sistema.docx">Manual de sistema</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
       
    </div>
</div>